.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0.8rem 0.6rem 0.8rem 0.6rem rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    margin: 2rem 1.25rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.pokemon-card:hover {
    box-shadow: 1rem 0.8rem 1rem 0.8rem rgba(0, 0, 0, 0.6);
}

.pokemon-card img {
    height: 18rem;
}

.pokemon-card p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.pokemon-card button {
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--bg_color_header_footer);
    color: #ffff;
    cursor: pointer;
    width: 10rem;
}