.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--bg_color_page);
}

.about-banner {
    border-radius: 0.7rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0,0,0,0.5);
    transition: 0.3s;
}

.about-banner:hover {
    box-shadow: 0.7rem 0.7rem 1.25rem 0.7rem rgba(0,0,0,0.7);
}

.dark-mode {
    background-color: black;
    color: white;
}