.all-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    background-color: var(--bg_color_page);
    padding-top: 2rem;
    font-size: 1.8rem;
}

.all-cards-container input {
    height: 2rem;
    font-size: 2rem;
    width: 20rem;
}

.all-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}